.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;

    position: fixed;   /* ny */
    top: 0;            /* ny */
    left: 0;           /* ny */
    width: 100%;       /* ny */
    z-index: 1000;     /* ny */
    box-sizing: border-box; /* ny */
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none; /* Tar bort prickarna i listan */
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none; /* Tar bort understrykningen */
    font-weight: 500;
    transition: color 0.3s; /* Gör så att färgen tonas när man hovrar */
}

.nav-links a:hover {
    color: #ff69b4; /* Ändrar färg till rosa när man för musen över */
}